@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url('assets/fonts/Lobster.ttf');
}

html {
  height: 100%;
}

body {
  font-family: OpenSans, Helvetica, Arial, sans;
  height: 100%;
  margin: 0;
  text-align: center;
  background: #225E79;
  overflow: scroll;
  color: white;
}

::-webkit-scrollbar {
  display: none
}

a {
  text-decoration: none;
  color: white;
}

label {
  text-align: left;
  color: white;
}

select {
  color: black;
}

input {
  color: black;
}

td {
  padding-left: 5px;
  padding-right: 5px;
}

.glowing {
  -webkit-animation: neon-anim2 0.5s ease-in-out infinite alternate;
  -moz-animation: neon-anim2 0.5s ease-in-out infinite alternate;
  animation: neon-anim2 0.5s ease-in-out infinite alternate; 
}

@-webkit-keyframes neon-anim {
  from {
    text-shadow: 0 0 5px  #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #fff,
                 0 0 35px #fff,
                 0 0 40px #fff,
                 0 0 50px #fff,
                 0 0 75px #fff;
  }
  to {
    text-shadow: 0 0 1px  #fff,
                 0 0 2px  #fff,
                 0 0 3px  #fff,
                 0 0 4px  #fff,
                 0 0 7px  #fff,
                 0 0 8px  #fff,
                 0 0 10px #fff,
                 0 0 15px #fff;
  }
}

@-webkit-keyframes neon-anim2 {
  from {
    text-shadow: 0 0 5px  #fff,
                 0 0 10px #fff,
                 0 0 15px #fff;
  }
  to {
    text-shadow: 0 0 1px  #fff,
                 0 0 2px  #fff,
                 0 0 3px  #fff;
  }
}

.alert {
  position: absolute;
  bottom: 0px;
  color: white;
  z-index: 100;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.alert-error {
  background: red;
}

.alert-success {
  background: green;
}

.alert-loading {
  background: #63AFD0;
}

.span-btn {
  font-size: x-large;
  color: #FF8700;
}

#signin {
  width: 100%;
}

.title {
  font-family: 'Lobster', 'cursive';
  font-size: xx-large;
  padding: 5px;
  background: #024A68;
  position: relative;
}

.menu-trigger {
  position:  absolute;
  left: 10px;
}

.new-task {
  position: absolute;
  right: 10px;
  top: 5px;
  font-family: times;
}

#burger {
  height: 25px;
  vertical-align: inherit;
}

#jPanelMenu-menu {
  background: #3B3B3B;
  border-right: 2px #024A68 solid;
}

.sidemenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidemenu li {
  padding: 10px !important;
  background: -webkit-linear-gradient(#3E3E3E, #383838);
  font-weight: bold;
  padding: 0.5em 5%;
  border-top: 1px solid #484848;
  border-bottom: 1px solid #2E2E2E;
  font-size: medium;
}

.sidemenu li:hover {
  background: -webkit-linear-gradient(#0772A1, #024A68);
}

.day {
  position: relative;
  background: #3BA3D0;
  border-bottom: 2px #0772A1 solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: medium;
}

.day-date {
  font-size: small;
  position: absolute;
  left: 10px;
  color: #225E79;
  text-shadow: 0 0 0 !important;
}

.hide {
  display: none;
}

.invis {
  opacity: 0;
}

.no-shadow {
  box-shadow: none !important;
}

.closed {
}

.closed ~ .task {
  max-height: 0px !important; /* Slide up */
}

.closed .badge {
  opacity: 1; /* Invis class */
}

.badge-box {
  position: absolute;
  right: 10px;
}

.badge {
/*  position: absolute;*/
  font-size: small;
  line-height: 16px;
  height: 16px;
  padding: 0 4px;
  margin-left: 5px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px;
  -webkit-transition: opacity 0.2s;
  opacity: 0; /** Hide by default, show when inside a .closed tag **/
}

.badge-complete {
/*  right: 32px;*/
  background: gray;
}

.badge-incomplete {
/*  right: 10px;*/
  background: #FF8700;
}

.task {
  color: black;
  font-size: small;
  background: white;
  position: relative;
  max-height: 200px; /** too large on purpose **/
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
}

.task.dragging {
  -webkit-transform: scale(0.9, 0.95);
}

.task-bar {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5) inset;
  height: 100%;
  background: #FF8700;
  width: 10px;
  position: absolute;
  left: 0px;
}

.task-rm {
  position: absolute;
  right: 20px;
  height: 100%;
  top: 10px;
  font-size: large;
  color: gray;
}

.task-drag {
  position: absolute;
  left: 0px;
  top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  font-size: large;
  color: gray;
}

.completed .task-bar {
  background: gray;
}

.task-content {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5) inset;
  font-size: 11pt;
}

.completed .task-content {
  text-decoration: line-through;
  color: gray;
}

#task-form {
  position: relative;
}

#task-form select {
  float: left;
}

#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10000;
}

#overlay.ng-hide-add, #overlay.ng-hide-remove {
  transition:0.5s linear all;
  display:block !important;
}
