@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url('assets/fonts/Lobster.ttf');
}

html {
  height: 100%;
}

body {
  box-shadow: 0 0 50px #ddd inset;
  -webkit-box-shadow: 0 0 50px #ddd inset;
  font-family: OpenSans, Helvetica, Arial, sans;
  height: 100%;
  margin: 0;
  text-align: center;
  color: white;
}

#signin {
  width: 100%;
}

.title {
  font-family: 'Lobster', 'cursive';
  font-size: xx-large;
  padding: 5px;
  background: #024A68;
}

.day {
  background: #3BA3D0;
  border-bottom: 2px #0772A1 solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: medium;
}

.day.expanded {
}

.task {
  color: black;
  border-left: 10px #FF8700 solid;;
  font-size: small;
}

.task-content {
  padding: 10px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5) inset;
}
