@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url('assets/fonts/Lobster.ttf');
}

html {
  height: 100%;
}

body {
  font-family: OpenSans, Helvetica, Arial, sans;
  height: 100%;
  margin: 0;
  text-align: center;
  color: white;
  background: #225E79;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none
}

a {
  text-decoration: none;
}

label {
  text-align: left;
  color: white;
}

select {
  color: black;
}

input {
  color: black;
}

td {
  padding-left: 5px;
  padding-right: 5px;
}

.span-btn {
  font-size: x-large;
  color: #FF8700;
}

#signin {
  width: 100%;
}

.title {
  font-family: 'Lobster', 'cursive';
  font-size: xx-large;
  padding: 5px;
  background: #024A68;
  position: relative;
}

.menu-trigger {
  position:  absolute;
  left: 10px;
}

.new-task {
  position: absolute;
  right: 10px;
  top: 5px;
  font-family: times;
}

#burger {
  height: 25px;
  vertical-align: inherit;
}

#jPanelMenu-menu {
  background: #3B3B3B;
  border-right: 2px #024A68 solid;
}

.sidemenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidemenu li {
  padding: 10px;
  background: -webkit-linear-gradient(#3E3E3E, #383838);
  font-weight: bold;
  padding: 0.5em 5%;
  border-top: 1px solid #484848;
  border-bottom: 1px solid #2E2E2E;
  font-size: medium;
}

.sidemenu li:hover {
  background: -webkit-linear-gradient(#0772A1, #024A68);
}

.day {
  position: relative;
  background: #3BA3D0;
  border-bottom: 2px #0772A1 solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: medium;
}

.badge {
  position: absolute;
  background: #FF8700;
  font-size: small;
  position: absolute;
  right: 10px;
  line-height: 16px;
  height: 16px;
  padding: 0 4px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px;
  -webkit-transition: opacity 0.2s;
}

.day-date {
  font-size: small;
  position: absolute;
  left: 10px;
  color: #225E79;
}

.hide {
  display: none;
}

.invis {
  opacity: 0;
}

.no-shadow {
  box-shadow: none !important;
}

.day.expanded {
}

.slidup {
  max-height: 0px !important;
}

.task {
  color: black;
  font-size: small;
  background: white;
  position: relative;
  max-height: 200px; /** too large on purpose **/
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
}

.task-bar {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5) inset;
  height: 100%;
  background: #FF8700;
  width: 10px;
  position: absolute;
  left: 0px;
}

.task-rm {
  position: absolute;
  right: 10px;
  height: 100%;
  top: 9px;
  font-size: medium;
  color: gray;
}

.completed .task-bar {
  background: gray;
}

.task-content {
  padding: 10px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5) inset;
}

.completed .task-content {
  text-decoration: line-through;
}

#task-form {
  position: relative;
}

#task-form select {
  float: left;
}
